doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="index.css")
    title todomy
  body
    .container
      .header
        p.header__logo todomy 
        a.header__link(href="#") Sign in
      .content
        .card 
          .card__header
          p.card__title Title
          ul.card__list 
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        .card 
          .card__header 
          p.card__title Title
          ul.card__list 
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error rerum consequuntur nihil non incidunt libero ea temporibus? Nemo, quasi obcaecati? Consequuntur ea, sit amet quidem vel nesciunt culpa necessitatibus dolore.
        .card 
          .card__header 
          p.card__title Title
          ul.card__list 
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error rerum consequuntur nihil non incidunt libero ea temporibus? Nemo, quasi obcaecati? Consequuntur ea, sit amet quidem vel nesciunt culpa necessitatibus dolore.
        .card 
          .card__header 
          p.card__title Title
          ul.card__list 
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error rerum consequuntur nihil non incidunt libero ea temporibus? Nemo, quasi obcaecati? Consequuntur ea, sit amet quidem vel nesciunt culpa necessitatibus dolore.
        .card 
          .card__header 
          p.card__title Title
          ul.card__list 
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error rerum consequuntur nihil non incidunt libero ea temporibus? Nemo, quasi obcaecati? Consequuntur ea, sit amet quidem vel nesciunt culpa necessitatibus dolore.
        .card 
          .card__header 
          p.card__title Title
          ul.card__list 
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error rerum consequuntur nihil non incidunt libero ea temporibus? Nemo, quasi obcaecati? Consequuntur ea, sit amet quidem vel nesciunt culpa necessitatibus dolore.
        .card 
          .card__header 
          p.card__title Title
          ul.card__list 
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error rerum consequuntur nihil non incidunt libero ea temporibus? Nemo, quasi obcaecati? Consequuntur ea, sit amet quidem vel nesciunt culpa necessitatibus dolore.
        .card 
          .card__header 
          p.card__title Title
          ul.card__list 
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error rerum consequuntur nihil non incidunt libero ea temporibus? Nemo, quasi obcaecati? Consequuntur ea, sit amet quidem vel nesciunt culpa necessitatibus dolore.
        .card 
          .card__header 
          p.card__title Title
          ul.card__list 
            li.card__item
              input.card__check(type="checkbox")
              p.card__item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error rerum consequuntur nihil non incidunt libero ea temporibus? Nemo, quasi obcaecati? Consequuntur ea, sit amet quidem vel nesciunt culpa necessitatibus dolore.